{% extends "ref/base.html" %}
{%load static%}

{% block content %}
<section class="welcome_board">
    <div class="welcome_text">
        <img class="main_image" src="{% static 'ref/images/logo.png' %}">
    </div>
    <div class="image_div">

        <div class="image_wrapper">
            <img class="main_image" src="{% static 'ref/images/med.jpg' %}">
        </div>
    </div>
</section>
<!-- <script src="static/sheriffy/js/slider.js?{% now 'U' %}"></script> -->
{%endblock content%}
