{%load static%}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color:rgb(202, 202, 185);;z-index: 1;">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">

            <a href="{% url 'home-page'%}" style="color: white;"><button class="btn btn-light" style="vertical-align:middle"><span>Homepage </span></button></a>
      </li>
{%if  not user.is_authenticated%}
        <li class="nav-item">
            <a href="{% url 'register'%}" style="color: white;"><button class="btn btn-light" style="vertical-align:middle"><span>Register User </span></button></a>
        </li>
        {%endif%}

        {%if  not user.is_authenticated%}
        <li class="nav-item">
            <a href="{% url 'register_medic'%}" style="color: white;"><button class="btn btn-light" style="vertical-align:middle"><span>Register Medic </span></button></a>
        </li>
        {%endif%}

        {%if  not user.is_authenticated%}
        <li class="nav-item">
            <a href="{% url 'login'%}"  style="color: white;"><button class="btn btn-light" style="vertical-align:middle"><span>Log in  </span></button></a>

        </li>
        {%endif%}
        {%if user.is_authenticated and user.email in medics%}
        <li class="nav-item">
            <a href="{% url 'create_referal'%}"  style="color: white;"><button class="btn btn-light" style="vertical-align:middle"><span>Issue medical referal  </span></button></a>

        </li>
        {%endif%}

        {%if user.is_authenticated and user.email in patients%}
        <li class="nav-item">
            <a href="{% url 'check_tests'%}"  style="color: white;"><button class="btn btn-light" style="vertical-align:middle"><span>Check Referals  </span></button></a>

        </li>
        {%endif%}

          {%if user.is_authenticated and user.email in medics%}
        <li class="nav-item">
            <a href="{% url 'check_tests_medic'%}"  style="color: white;"><button class="btn btn-light" style="vertical-align:middle"><span>Check Referals  </span></button></a>

        </li>
        {%endif%}

        {%if user.is_authenticated%}
        <li class="nav-item">
            <a href="{% url 'logout'%}"  style="color: white;"><button class="btn btn-primary" style="vertical-align:middle"><span>Log out  </span></button></a>
        </li>
        {%endif%}
    </ul>
      {%if user.is_authenticated%}
          <a class="navbar-brand" style="color: white;" href=""><b>{{user.email}}</b></a>
        {%endif%}
  </div>

</nav>