{% extends "ref/base.html" %}
{%load static%}
{% block content %}

<div class="juicy-peach-gradient " style="display:flex">
    <div style="display:inline-block" id="modify_form">
  <form method="POST" class="create_referal" enctype="multipart/form-data">
    {%csrf_token%}
     
     <br>

{{form.fk_patient.as_hidden}}
{{form.fk_medic.as_hidden}}
{{form.date_of_issue.as_hidden}}
<hr>
<h3>Prescribed tests:</h3>

<section class="formset_testing">
  {{forming.management_form }}
  {{forming.as_p}}
</section>
<button style="display: block;" id="adding_button" class="btn btn-info">Add another test</button>

     </div>
    <br>
{{ form.errors }}
</div>

 <input type="submit" class="btn btn-info btn_white" name="Submit" value="Create referal">
</form>




<script src="{% static 'ref/js/create_referal.js'%}"></script>

{%endblock content%}